body{
margin:0%;
}
.one{
border:18px solid #39506D;
background-image: url("atlas.jpg");
background-size: cover; 
border-radius:33px;
color:white;
}
.outer ,.one
{
position:absolute;
top:0px;
left:0px;
right:0px;
bottom:0px;
}
.outer{
background-color:#39506D;
}
.two{
height:100px;
width:850px;
position:absolute;
top: 267px;
left: 232px;
}


.two .a,.b,.c,.d,.e{
height:100px;
width:100px;
display:inline-block;
margin-right:66px;
background-size:cover;
}

.a
 {
background-image: url("chrome.png");
}

.b{
background-image: url("firefox.png");

      }

.c {
background-image: url("mercury.png");
   }
.d{
background-image: url("internet-explorer.png");

      }
.e{
background-image: url("opera.png");

      }

