.one{
 height:850px;
 border:12px solid #117191;
background-image: url("atlas.jpg");
background-size: cover; 
border-radius:20px;
color:white;
}

.outer{
background-color: #117191;
}
.two{
height:100px;
width:100px;
display:block;
position: absolute;
top: 350px;
left: 280px;
margin-right:40px;
}

.two .a
{
background-image: url("chrome.png");
background-size:cover;
}

.two .b{
background-image: url("firefox.png");
background-size:cover;

      }

.two .c {
background-image: url("mercury.png");
background-size:cover;
   }
.two .d{
background-image: url("internet-explorer.png");
background-size:cover;
      }
.two .e{
background-image: url("opera.png");
background-size:cover;
      }

