footer{
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;    
  background-color:#001133;
 padding:10px 300px;
  color: #e5e5ff;
  
}
.up a{
  color: #e5e5ff;
}
.middle a{
  color:#000c1a;
}
.head .up{
  float:right; 
}
.head{
height:50px ;
border:1px solid white;
  background-color:#001133;
 color: #e5e5ff;
}
.middle aside{
  height:400px;
  width:120px;
  background-color:#ccccff;
  border:1px solid white ;
}
