


body{
margin:0 auto;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
text-decoration:none;
color:black;
}
.one{
background-color:#0275D8;
color:white;
text-align:center;
height:40px;
}
.one p{
margin:0;
padding-top:5px;
}
.two{
color:black;
margin-left:70px;
margin-bottom:0px;
padding-bottom:5px;
height:50px;

}
.bst{
  float:left;
  padding:20px 0;
  font-size:20px;
  height:40px;
  width:100px;
}
.right{
  float:right;
}

.left{
  float:left;
}
li{
  padding-right:25px;
  display:inline-block;
}



.three{

text-align:center;
  	background:#5C4283;
	padding-top:30px;
	padding-bottom:10px;
}

.three div{
 margin: auto;
}

.th1{
color: white;
border:1px solid white;
  width:100px;
  height:100px;
  border-radius:15px;
  font-size:90px;
  margin-top:60px;

}
.th1 p{margin:auto;}
.th2{
color: white;
width:50%;
  font-size:24px;
  margin:30px auto;
  padding:30px 0;

}
.th3{
height: 40px;
width: 210px;
border-radius: 5px;
background-color:#5B4282;
color: white;
border:1px solid white;
  font-size:18px;
}
.th4{
text-align:center;
  color:#9581B8;
  font-size:15px;
}
.th4 p{
padding:10px;
}

.four{

text-align:center;
}
.f1{
  font-size:40px;
  margin:80px 0 0 0;
}

.f2{
color:#A99B94;
font-size:14px;
margin:10px auto;
width:35%;
}

.change{
display: none;
}




@media all and (max-width: 768px){
.two{
    display:none;
}

.change{
display:block;
height:50px;
}

.bst{
    padding:18px 0;
    display:block;
    float:left;
}
  
.two{
  margin:0 0 40px 30px;
}
  
.hamberg{
    display:block;
    margin: 5px -90px 0px;
}
  
.th2,.f2{
  width:100%;
}
 
input {
    display: none;
}

label{
    border: 1px solid #cecfd5;
    border-radius: 6px;
    position: absolute;
    top: 45px;
    right: 0;
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
}
  
label:hover {
    color: #ff7b29;
}
  
input:checked + label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
}
  
nav {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
}
  
input:checked ~ nav {
    max-height: 500px;
    width:100%;
    margin-left:68px;
}
  
ul {
    list-style: none;
    width: 100%;
    padding-left:0;
    margin-bottom:0;
}

li {
    display:block;
    padding:10px;
}
  
li:last-child {
    padding-bottom:0;
}
 
li > a {
    color:#563D7C;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

}

