.p1{
color:#6D7883;
display:inline;
font-size:17px;
}

.top .fa{
color:#CDCDCD;
}

.one,.two{
height:56px;
width:500px;
border-left: 2px solid #CDCDCD;
}

.h_line{
height: 2px;
width: 68px;
background-color: #CDCDCD;
display:inline-block;


}

.p2{
font-size:15px;
color:#B79C86;
display:inline-block;

}

.fa{
color:#79B14E;
display:inline-block;
}

.three .fa,.two .fa{
color:#CDCDCD;
display:inline-block;

}

.extra,.extra1{
width:2px;
height:28px;
background-color: #CDCDCD;
position: relative;
display:inline-block;
}

.extra{
left: -14.4%;
}

.extra1{
left: -14.4%;
}
.left{
width: 40.5%;
display: inline-block;
height: 400px;
margin-left:6%

}
.right{
width: 49.5%;
display: inline-block;
height:400px;
}

p{
color:#6D7883;
font-size:18px;
}
ul{
list-style:none;
}
.three{
height:56px;
width:500px;

}


