body{
margin: 0;
background-color: #F4F5F7;
}
.outer{
height: 470px;
width: 27%;
background-color: white;
border-top: 2px solid #EA8A7F;
margin: 5% auto auto;
text-align: center;
font-family:'Arial', 'Helvetica', sans-serif;
}

.top{
margin-top: 5%;
font-size: 16px;
}
.text{
color: #676798;
display: inline-block;
}
a {
text-decoration: none;
}
.bottom p{
display: inline-block;
color: #676798;
}

.ctext{
color: #4dc4ff;
}

.uname,.pwd{

height: 44px;
width: 82%;
margin-left: 9%;
border-bottom: 1px solid rgb(102, 153, 153);
margin-top: 11%;
}
.fa-envelope-o, .fa-lock{
margin-right: 4%;
color: #4dc4ff;
}

.vline{
height: 15px;
width: 2px;
display: inline-block;
background-color: rgb(102, 153, 153);
position: relative;
top: 8%;
}

.mail,.pass{
border: 0px none;
margin-right: -10%;
margin-left: 3%;
height: 40px;
top: 2px;
}
.bottom{
margin-top: 10%;
font-size: 12px;
}
.fpass{
margin-top: 5%;
font-size: 14px;
color: #676798;
}
.remember{
margin-top: 8%;
}
.remember p{
display: inline-block;
font-size: 14px;
color: #676798;
}
.x{margin-top: 5%; }
.fa-check-square{
color: #4dc4ff;
}
.sign{
margin-top: 5%;
background-color: #00AAEF;
text-decoration: none;
color: white;
width: 70%;
height: 40px;
font-size: 15px;
border: 0px none;
border-radius: 4px;

}
