body{
margin:0;
background-color:#F4F5F7;
}
.outer{
height:500px;
width:30%;
background-color:white;
border-top:2px solid #EA8A7F;
margin:5% 33% 0% 33%;
text-align:center;
font-family:'Arial', 'Helvetica', sans-serif;
}

.top{
position: relative;
top: 15px;
font-size:16px;
}
.text{
color:#676798;
display:inline-block;
}
a {
text-decoration: none;
}
.bottom p{
display:inline-block;
color: #676798;
}

.ctext{
color:#4dc4ff;
}

.uname,.pwd{

height: 44px;
width: 82%;
margin-left: 9%;
border-bottom: 1px solid rgb(102, 153, 153);
margin-top: 11%;
}
.fa-envelope-o, .fa-lock{
position: relative;
left: -5%;
color:#4dc4ff;
}

.vline{
height: 15px;
width: 2px;
display: inline-block;
background-color: rgb(102, 153, 153);
position: relative;
top: 10%;
}

.mail,.pass{
border: 0px none;
position: relative;
right: -12px;
top: 2px;
}
.bottom{
position: relative;
top: 27%;
font-size: 12px;
}
.fpass{
position: relative;
top: 23%;
font-size:14px;
color: #676798;
}
.remember{
position: relative;
top: 45px;
}
.remember p{
display:inline-block;
font-size:14px;
color: #676798;
}

.fa-check-square{
color:#4dc4ff;
}
.sign{

position: relative;
top: 70px;
background-color:#00AAEF;
text-decoration: none;
color: white;
width: 70%;
height: 40px;
font-size: 15px;
border: 0px none;
border-radius: 4px;

}
