.outer{
width:800px;
height:600px;
border:2px solid #ff9966;
background-color: #d9d9d9 ;
}

.outer .inner{
  height:400px;
  width:600px;
border:3px dashed  #66b2ff;
margin:20px 40px 100px 25px;
background-color:#ffffff;
padding:10px 10px 10px 110px;

}
.outer .inner .core{
height:100px;
width:300px;
border:2px dotted  #009933;
border-radius: 25px;
/*padding:30px 40px 110px 90px;*/
background-color:#d1d1e0;

}
.outer h5{
padding :20px 160px 65px 30px;
}
.outer .inner h5
{

padding :10px 250px 10px 5px ;
}

.outer .inner .core h5{

padding:10px 2px 8px 74px;
}

