.div1{
  width:450px;
  height:150px;
border : 2px solid orange;
position:static;
background-color:green;
float:left;
}

.div2{



}

.div3{

}
.div4{
width:450px;height:150px;
border: 2px solid orange;
margin: 10.5% 0;
position:static;
background-color:green;
float:middle;
}
.div5{

}
.div6{
float:right;
height:600px;
width:100px;
background-color: #e5e5ff;
}
.div7{

float:bottom;
width:200px;
height:100px;
background-color: #cccccc;
}
