body{
margin:0%;
}

footer{
position: absolute;
left: 0px;
bottom: 0px;
right:0px;
height: 75px;
text-align:center;
background-color: #013;
color: #E5E5FF;
  
}
.up a{
  color: #e5e5ff;
}
.middle a{
  color:#000c1a;
}
.head .up{
  float:right; 
}
.head{
height: 50px;
border: 1px solid #FFF;
background-color: #013;
color: #E5E5FF;
}
.middle aside{
width: 165px;
background-color:#DFE7D4;
border: 1px solid #FFF;
position:absolute;
top:50px;
bottom:75px;
left:0px;
}
a:hover { 
    background-color:white;
    color: #013;
}
.text{
border: 3px solid #000;
position: absolute;
top: 50px;
left: 165px;
bottom:75px;
right:0px;
}
